
<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-mounths></app-mounths>
    </div>
    <div class="col-md-6">
      <app-linecharts></app-linecharts>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5 ">
      <app-table-dynamic-data></app-table-dynamic-data>
      
    </div>
    <div class="col-md-6">
      <app-barchart></app-barchart>
    </div>
  </div>
  <div class="offset-7gi">
   
      <app-piechart></app-piechart>
    
  </div>
</div>
