<div class="table-responsive">
    <table class="table responsive-table">
        <th>
            axe Y
        </th>
        <th>
            axe X
        </th>
        <th>
          
        </th>
        <tbody *ngFor="let item of dataContent">
            <tr>
                <td>
                    {{item.data}}
                </td>
                <td>
                    {{item.labels}}
                </td>
                <td>
                   <button class="btn btn-danger" (click)="delete(item.id)">  Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>